.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

canvas#stage {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

canvas#sketchboard {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #000000;
  display: none;
}
