
* {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

a {
  color: #ffffff;
  font-weight: bold;
}

a:hover {
  color: #ffffff;
}

canvas#symphony-stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

canvas#sketchboard {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #000000;
  display: none;
}

.symphony-ui {
  font-size: 12px;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-family: 'Consolas', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

.symphony-ui h2 {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #cecece;
  width: 100%;
  padding: 0 0 7px;
  margin: 0 0 7px;
}


.symphony-ui h3 {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #cecece;
  display: inline-block;
  margin: 0;
}

.symphony-ui ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.symphony-ui li {
  color: #cecece;
  line-height: 20px;
}

.symphony-ui li a {
  color: #cecece;
}

.health-bar-container {
  width: 100px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.1);
  height: 6px;
  display: inline-block;
  margin: 0 0 0 3px;
}

.health-bar {
  position: absolute;
  background: #009800;
  height: 4px;
}

.block-hash {
  position: absolute;
  bottom: 43px;
  left: 122px;
}

.block-details-border {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 270px;
  width: 42px;
  position: absolute;
  left: -1px;
  top: -1px;
  opacity: 0.3;
}

.block-details {
  pointer-events: auto;
  position: absolute;
  right: 81px;
  top: 300px;
  width: 222px;
  z-index: 9;
  background: rgba(0, 0, 0, 0.25);
  padding: 10px 12px 10px;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.block-details-heading {
  position: absolute;
  left: 0;
  top: -29px;
}

.block-details .view-details {
  padding-top: 10px;
}

.block-details strong {
  font-weight: normal;
}

.block-details .line {
  background: #153453;
  width: 180px;
  height: 1px;
  position: absolute;
  display: block;
  left: -180px;
  top: 19px;
}

.block-details .dot {
  background: #709cf0;
  border-radius: 10px;
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  left: -3px;
  top: 17px;
}

.controls-container {
  left: 50%;
  margin-left: -51px;
  top: 20px;
  width: 150px;
  position: absolute;
  z-index: 9;
}

/* .cockpit .controls-container {
  display: none;
} */

.auto-pilot-controls {
  display: inline-block;
  width: 77px;
  pointer-events: auto;
  background: rgba(18,23,38,0.9);
  padding: 9px;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  height: 38px;
  border: 1px solid #153453;
  border-radius: 50px;
  margin: 0 20px 0 0;
}

.auto-pilot-controls span {
  display: inline-block;
  width: 8px;
  height: 17px;
}

.auto-pilot-controls span:hover {
  cursor: pointer;
}

.auto-pilot-controls span.backward {
  background: url(./assets/images/contract.svg) no-repeat;
}

.auto-pilot-controls span.forward {
  background: url(./assets/images/expand.svg) no-repeat;
}

.auto-pilot-controls span.stop {
  width: 15px;
  height: 16px;
  border: 1px solid #1fc1c3;
  margin: 0 12px;
}

.cockpit-border {
  background: url(./assets/images/vignette2.png) no-repeat;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.13;
  background-size: cover;
}

.block-details ul {
  display: inline-block;
}

.toggle-cockpit-controls {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  background: url(./assets/images/cockpit.png);
  border: none;
  width: 58px;
  height: 41px;
  display: block;
}


.toggle-cockpit-controls:hover {
  cursor: pointer;
}

.flip-view-container {
  background: #1b2238;
  padding: 11px;
  border-radius: 50px;
  display: inline-block;
}

.flip-view {
  display: block;
  width: 18px;
  height: 18px;
  background: url(./assets/images/flip-view.svg) no-repeat;
  border: none;
  opacity: 0.8;
}

.flip-view:hover {
  cursor: pointer;
  opacity: 1.0;
}

.tx-details {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 50%;
  border: 0;
  padding: 15px;
  width: 600px;
  margin-left: -300px;
  text-align: center;
  bottom: 50px;
}


.tx-details ul {
  text-align: left;
  width: 50%;
  bottom: -30px;
  display: inline-block;
}

.in-total {
}

.out-total {
}

.tx-details .input-output {
  margin-top: 10px;
  width: 100%!important;
  background: url(./assets/images/arrow.png) no-repeat center center;
}

.input-output li.inputs {
  width: 55%;
}

.input-output li.outputs {
  width: 45%;
}

.input-output h3 {
  display: block;
}

.input-output li {
  vertical-align: top;
  width: 50%;
  display: inline-block;
}

.input-output li li {
  width: 100%;
  display: inline-block;
}

.input-output ul {
  width: 100%
}

.tx-detail-item {
  display: inline-block;
  margin-right: 20px;
}

.tx-details h2 {
  border: none;
  color: #fff;
  text-align: center;
  margin-top: 0;
  padding: 0;
  font-size: 13px;
}

.tx-details strong {
  font-weight: normal;
}

.tx-details-inner {
  display: block;
}

.crosshair {
  display: block;
  background: url(./assets/images/crosshair.svg) no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  opacity: 0.8;
}

.sidebar {
  background: rgba(18,23,38,0.9);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid #153453;
  z-index: 10;
  padding: 17px;
  transition: width 0.5s;
  transition-timing-function: ease-in-out;
}

.sidebar.closed {
  width: 58px;
}

.sidebar.open {
  width: 270px;
}

.search {
  background: url(./assets/images/search.svg) no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0 10px 0 0;
  float: left;
  position: relative;
  z-index: 1;
}

.search:hover {
  cursor: pointer;
}

.calendar {
  background: url(./assets/images/calendar.svg) no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0 10px 0 0;
  float: left;
  position: relative;
  z-index: 1;
}

.calendar:hover {
  cursor: pointer;
}

.sidebar .section {
  padding: 10px 0;
  margin: 0 0 15px;
  border-bottom: 1px solid #2d4061
}

.sidebar ul span {
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
}

.sidebar ul span:hover {
  cursor: pointer;
}

.sidebar li {
  width: 240px;
  padding: 0;
  overflow: hidden;
  font-size: 13px;
}

.sidebar li span {
  display: block;
  margin: 0 0 10px 32px;
}

.sidebar.closed ul span {
  opacity: 0.0;
  visibility: hidden
}

.sidebar.open ul span {
  opacity: 1.0;
}

.sidebar.open ul span:hover {
  text-decoration: underline;
  color: #fff
}

.sidebar ul span {
  vertical-align: top;
}

.sidebar h1 {
  overflow: hidden;
  color: #719bf1;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
}

.sidebar h2 {
  overflow: hidden;
  display: inline-block;
  width: 240px;
  text-transform: none;
  color: #d8d6d7;
  font-weight: normal;
  letter-spacing: 1px;
  border: none;
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
  padding: 0 0 20px;
}

.sidebar h3 {
  overflow: hidden;
  color: #719bf1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
  padding: 0 0 20px;
}

.sidebar.closed h1,
.sidebar.closed h2,
.sidebar.closed h3 {
  opacity: 0.0;
}

.sidebar.open h1,
.sidebar.open h2,
.sidebar.open h3 {
  opacity: 1.0;
}

.sidebar .expand {
  position: relative;
  z-index: 2;
  border: none;
  float: right;
  width: 20px;
  height: 20px;
  background: url(./assets/images/expand.svg) no-repeat;
}

.sidebar .expand:hover {
  cursor: pointer;
}

.sidebar.open .expand {
  background: url(./assets/images/contract.svg) no-repeat;
}

.search-container {
  background: rgba(18,23,38,0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #153453;
  box-shadow: 5px 5px 10px #030a17;
  z-index: 10;
  padding: 17px;
  width: 522px;
  height: 100px;
  margin-top: -50px;
  margin-left: -261px;
}

.search-container h2 {
  border: none;
}

.search-box {
  width: 453px;
  height: 28px;
  float: left;
}

.search-box-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-weight: bold;
  color: #22c0c3;
}

.search-box-close:hover {
  cursor: pointer;
  color: #ffffff;
}

.search-action {
  background: url(./assets/images/search.svg) no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  margin: 2px 0px 0 0;
  float: right;
}

.search-action:hover {
  cursor: pointer;
}

.autopilot-container {
  position: absolute;
  z-index: 10;
}

.blockchain-selector {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 117px;
  left: 10%;
  background: rgba(18,23,38,0.9);
  padding: 4px;
  border-radius: 50px;
  z-index: 9;
  border: 1px solid #153453;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.blockchain-selector span {
  padding: 0 8px;
}

.blockchain-selector .down-arrow {
  padding: 0 8px;
}

.iohk-logo {
  position: absolute;
  bottom: 0;
  right: 16px;
}

.iohk-supported {
  opacity: 1.0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 16px;
  width: 146px;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.sidebar-footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  height: 41px;
}

.sidebar-footer-inner {
  border-top: 1px solid #2d4061;
  margin: 0 15px;
}

.sidebar.closed .iohk-supported {
  opacity: 0.0;
}

.sidebar.open .iohk-supported {
  opacity: 0.5;
}

.key h3 {
  padding-bottom: 10px;
  width: 277px;
}

.key .sidebar-hide {
  width: 277px;
  padding-bottom: 25px;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.sidebar.closed .key .sidebar-hide {
  opacity: 0.0;
  visibility: hidden;
}

.sidebar.open .key .sidebar-hide {
  opacity: 1.0;
}

.sidebar .key .sidebar-show {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  position: absolute;
}

.sidebar.closed .key .sidebar-show {
  opacity: 1.0;
}

.sidebar.open .key .sidebar-show {
  opacity: 0.0;
}

.spending-key {
  margin: 0 20px 0 0;
}

.spending-key span {
  display: inline-block;
  margin: 0 0 0 5px;
}

.hud {
  pointer-events: auto;
  background: url(./assets/images/hud.png) no-repeat center center;
  position: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.coords {
  position: absolute;
  top: 164px;
  right: 199px;
  width: 103px;
}

.block-hash h2 {
  padding: 0;
}

.block-hash h3 {
  font-size: 12px;
}



.tx-details-border {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

.tx-details-border-tl {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: -1px;
  left: -1px;
}

.tx-details-border-tr {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  top: -1px;
  right: -1px;
}

.tx-details-border-bl {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  bottom: -1px;
  left: -1px;
}

.tx-details-border-br {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  bottom: -1px;
  right: -1px;
}

.loading-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  background: #000;
  position: relative;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

.loading-container h1 {
  font-weight: 300;
  font-size: 1vw;
  animation: blur-in 2.5s ease-in, opacity-pulse 4.0s ease-in-out infinite both;
}

.loading-container h1 span {
  font-weight: 500;
}

.symphony-logo {
  width: 17vw;
  opacity: 0.8;
  animation: pulsate 2.0s ease-in-out infinite both, blur-in 2.5s ease-in, opacity-pulse 2.0s ease-in-out infinite both;
}

.loaded {
  opacity: 0.0;
  filter: blur(6ex);
  /* transition: opacity 10s, filter 10s, visibility 10s; */
  visibility: hidden;
  /* animation: zoom-in 10s ease-in; */
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacity-pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.45;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes blur-in {
  0% {
    filter: blur(6ex);
  }
  100% {
    filter: blur(0ex);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3.0);
  }
}

.intro-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  padding-bottom: 6%;
}

.intro-container h1 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: uppercase;
  position: absolute;
  opacity: 0;
  filter: blur(6ex);
  transition: opacity 2s, filter 2s;
}

.intro-container h1.show {
  opacity: 1;
  filter: blur(0ex);
  transition: opacity 3s, filter 3s;
  /* animation: opacity-pulse 4.0s ease-in-out infinite both; */
}

.intro-container h1 a {
  font-weight: 500
}

.enter-blockchain-text:hover {
  cursor: pointer;
}

.start-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  padding-bottom: 6%;
}

.start-container h1 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: uppercase;
  position: absolute;
}

.start-container h1:hover {
  cursor: pointer;
}

.not-supported {
  display: none;
}

.block-navigation-prev {
  z-index: 9;
  position: absolute;
  left: 10%;
}
.block-navigation-prev:hover {
  cursor: pointer;
}

.block-navigation-next {
  z-index: 9;
  position: absolute;
  right: 10%;
}

.block-navigation-next:hover {
  cursor: pointer;
}